header .heading{
    height: 250px;
    position: relative;
    min-height: 100px;
}

header .navbar{
    background-color: #21094e !important;
    padding: 5px;
}

header .navbar li a{
    color: #fff;
}

header .navbar li a:hover{
    font-weight: bold;
    color:#fc5404;
}

header .heading{
    background: linear-gradient(to bottom right, #f55c47 , #fc5404, #f9b208);
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

header .heading img{
    border-radius: 10px;
    float: left;
    width: 200px;
    margin: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
}

header .heading h1{
    font-size: 60px;
}

header .heading p{
    font-size: 20px;
    margin-top: 10px;
}

/* tabs */
section#menu{
    margin-bottom: 100px;
}

section#menu .tab-content{
    text-align: center;
}


section#menu .nav .nav-item a{
    font-weight: 700;
    border: 2px solid #c1c1c1;
    border-radius: 25px;
}

section#menu .nav-item .active{
    color: #fff;
    background-color: #21094e;
}

section#menu .nav-item{
    padding: 10px 2px;
}

section#menu .nav{
    margin: 20px auto;
}

/* tab forms */
section#menu .tab-content .form-group{
    display: inline-block;
}

section#menu .tab-content form .form-group input[type='text']{
    min-width: 250px;
}

section#menu .tab-content #state{
    min-width: 250px;
    width: 30%;
}

section#menu .tab-content #dist{
    min-width: 250px;
    width: 30%;
}


/* tab btn */
section#menu .tab-content #searchbypin .btn{
    margin-bottom: 5.5px;
}

section#menu .tab-content #searchbydist .btn{
    margin-bottom: 5.5px;
}

/* cards */
section#menu .card-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
}

section#menu .card-box .card{
    margin: 10px;
    min-width: 35% !important;
    width: 40% !important;
}

/* footer */
footer{
    width: 100%;
    background-color: #21094e;
    height: 60px;
    line-height: 60px;
    position: relative;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.love{
    color: red;
}

footer p{
    text-align: center;
    color: #fff;
    font-size: 90%;
    font-weight: 400;
}

footer p:hover{
    color: #fc5404;
    transition: color .5s;
    cursor: pointer;
    font-weight: 600;
}

footer p:hover .love{
    color: pink;
    transition: color .5s;
}

/* tg_page */

section#tg-info{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

section#tg-info .btn{
    width: 300px;
}

section#tg-info h2,h3{
    text-align: center;
}

section#tg-info h2
{
    font-size: 2.2rem;
    text-shadow: 0 0 20px #c1c1c1;
}

section#tg-info h3
{
    font-size: 1.5rem;
    margin: 20px;
    text-decoration: underline;
}

section#tg-info #invite-code
{
    text-align: center;
    background-color: #21094eec;
    color: #fff;
    padding: 2px 0;
    width: 300px;
    margin: 10px auto;
}

#icode:hover{
    color: #f55c47;
    font-weight: 700;
}

a#subscribe-tg{
    text-align: center !important;
    padding: 10px;
    background-color: #21094e;
    color: #fff;
    display: block;
    margin: auto;
    border-bottom: 2px solid #fc5404;
    font-size: 15px;
}

a#subscribe-tg:hover{
    text-decoration: none;
    color: #fc5404;
}


@media (max-width: 768px){
    header .heading img{
        display: none;
    }

    section#menu .card-box .card,
    section#menu .tab-content #searchbydist .btn,
    section#menu .tab-content #searchbypin .btn,
    section#menu .tab-content #state,
    section#menu .tab-content #dist,
    section#tg-info .btn
    {   
        width: 100% !important;
    }

    section#menu .tab-content #searchbydist label,
    section#menu .tab-content #searchbydist label{
        display: none;
    }

    section#menu .tab-content .form-group,
    section#menu .tab-content form .form-group input[type='text']{
        width: 100% !important; 
    }

    section#tg-info p{
        text-align: auto !important;
    } 

    footer p{
        font-size: 80%;
    }


}